/* Constants */

$BG1: #7E07A9;
$BG1CURRENT: #52026E; //#67237F;
$BG1HOVER: #67237F; //#52026E;

$BGLIGHT: #FFFFFF;

$FG1: #EC7BFF;
$FG1HOVER: #FFFFFF;

$FONT: 'Roboto', sans-serif;
$FONTWT: 100;

// CSS Transision times
$transitionTime: .5s;
$transitionType: ease-out;