@import "reset";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);
@import "consts";

.height100 {
    height: 100%;
}

* {
    font-family: $FONT;
}

.link {
    text-decoration: none;
}

html, body {
    @extend .height100;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.cf {
    clear: both;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.roboto-light {
    font-family: $FONT;
    font-weight: $FONTWT;
}

$background-color-transitions: background-color $transitionTime $transitionType;
.background-color-transition {
    -webkit-transition: $background-color-transitions;
    -moz-transition: $background-color-transitions;
    -o-transition: $background-color-transitions;
    -ms-transition: $background-color-transitions;
    transition: $background-color-transitions;
}

$text-color-transistion: color $transitionTime $transitionType;
.text-color-transition {
    -webkit-transition: $text-color-transistion;
    -moz-transition: $text-color-transistion;
    -o-transition: $text-color-transistion;
    -ms-transition: $text-color-transistion;
    transition: $text-color-transistion;
}

$link-color-transition: background-color $transitionTime $transitionType, color $transitionTime $transitionType;
.link-color-transition {
    -webkit-transition: $link-color-transition;
    -moz-transition: $link-color-transition;
    -o-transition: $link-color-transition;
    -ms-transition: $link-color-transition;
    transition: $link-color-transition;
}

$arrow-transition: background-color $transitionTime $transitionType, border-left-color $transitionTime $transitionType;
.arrow-transition {
    -webkit-transition: $arrow-transition;
    -moz-transition: $arrow-transition;
    -o-transition: $arrow-transition;
    -ms-transition: $arrow-transition;
    transition: $arrow-transition;
}

$bubble-transition: background-color $transitionTime $transitionType, color $transitionTime $transitionType, width $transitionTime $transitionType, height $transitionTime $transitionType, line-height $transitionTime $transitionType;
.bubble-transition {
    -webkit-transition: $bubble-transition;
    -moz-transition: $bubble-transition;
    -o-transition: $bubble-transition;
    -ms-transition: $bubble-transition;
    transition: $bubble-transition;
}

@import "slides";
@import "sidebar";
@import "content";
